@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
	font-family: 'Indie Flower', cursive;
	margin: 0px;
	padding: 0px;
	background-color: #1b1b1b;
}

.video{
	margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}